In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = "US_Accidents_June20.csv"

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [5]:
del df["Traffic_Calming"]

In [6]:
del df["Traffic_Signal"]

In [7]:
del df["Turning_Loop"]

In [8]:
del df["End_Time"]
del df["End_Lat"]
del df["End_Lng"]
del df["Precipitation(in)"]
del df["Amenity"]
del df["Bump"]
del df["Crossing"]
del df["Sunrise_Sunset"]
del df["Nautical_Twilight"]
del df["Astronomical_Twilight"]

In [9]:
del df["Description"]

In [10]:
del df["TMC"]

In [11]:
del df["Distance(mi)"]

In [12]:
df.head()

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,Number,Street,Side,City,...,Wind_Speed(mph),Weather_Condition,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Civil_Twilight
0,A-1,MapQuest,3,2016-02-08 05:46:00,39.865147,-84.058723,NaN,I-70 E,R,Dayton,...,NaN,Light Rain,False,False,False,False,False,False,False,Night
1,A-2,MapQuest,2,2016-02-08 06:07:59,39.928059,-82.831184,2584.0,Brice Rd,L,Reynoldsburg,...,NaN,Light Rain,False,False,False,False,False,False,False,Night
2,A-3,MapQuest,2,2016-02-08 06:49:27,39.063148,-84.032608,NaN,State Route 32,R,Williamsburg,...,3.5,Overcast,False,False,False,False,False,False,False,Night
3,A-4,MapQuest,3,2016-02-08 07:23:34,39.747753,-84.205582,NaN,I-75 S,R,Dayton,...,4.6,Mostly Cloudy,False,False,False,False,False,False,False,Day
4,A-5,MapQuest,2,2016-02-08 07:39:07,39.627781,-84.188354,NaN,Miamisburg Centerville Rd,R,Dayton,...,3.5,Mostly Cloudy,False,False,False,False,False,False,False,Day

In [13]:
df = df.dropna(how='any')

In [14]:
df["Civil_Twilight"].value_counts()

Day      474919
Night    124437
Name: Civil_Twilight, dtype: int64

In [15]:
night_count = df["Civil_Twilight"].value_counts()

In [16]:
night_count.head()

Day      474919
Night    124437
Name: Civil_Twilight, dtype: int64

In [17]:
accident_count = night_count.sum()

In [18]:
accident_count

599356

In [19]:
workable_data = pd.DataFrame(df["Civil_Twilight"])

In [20]:
new_df = df[['ID', 'Source', 'Severity','Start_Time','Start_Lat', 'Start_Lng','Street','City','State', 'Zipcode', 'Civil_Twilight']].copy()

In [21]:
mask = new_df['Start_Time'] > '2020-03-01 00:00:00'

In [22]:
final_df = new_df.loc[mask]
final_df.sort_values('Start_Time', ascending=False, inplace=True)
final_df.reset_index(drop=True, inplace=True)
final_df.tail(5)

/Users/WillPumphrey/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
129416,A-2945289,Bing,2,2020-03-01 00:19:36,44.932780,-123.149540,Willamina-Salem Hwy,Independence,OR,97351-9685,Night
129417,A-2945288,Bing,2,2020-03-01 00:12:31,45.463410,-123.782980,Wilson River Hwy,Tillamook,OR,97141-9744,Night
129418,A-2945377,Bing,2,2020-03-01 00:09:00,40.589846,-122.460812,Eureka Way,Redding,CA,96001,Night
129419,A-2945595,Bing,2,2020-03-01 00:09:00,34.040094,-118.579258,Pacific Coast Hwy,Malibu,CA,90265-5500,Night
129420,A-2945375,Bing,2,2020-03-01 00:07:00,38.588726,-122.607046,Tubbs Ln,Calistoga,CA,94515-1055,Night

In [23]:
time = final_df['Start_Time']
print(time)

0         2020-06-30 23:18:09
1         2020-06-30 22:38:08
2         2020-06-30 22:33:16
3         2020-06-30 22:32:13
4         2020-06-30 22:20:47
                 ...
129416    2020-03-01 00:19:36
129417    2020-03-01 00:12:31
129418    2020-03-01 00:09:00
129419    2020-03-01 00:09:00
129420    2020-03-01 00:07:00
Name: Start_Time, Length: 129421, dtype: object

In [24]:
night_count.head()

Day      474919
Night    124437
Name: Civil_Twilight, dtype: int64

In [25]:
CT = final_df.groupby('Civil_Twilight')
CT.head()

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
0,A-560480,MapQuest,3,2020-06-30 23:18:09,38.189991,-85.766731,Southern Pkwy,Louisville,KY,40214-1508,Night
1,A-561278,MapQuest,2,2020-06-30 22:38:08,36.131069,-86.775887,Prentice Ave,Nashville,TN,37204-2297,Night
2,A-561276,MapQuest,2,2020-06-30 22:33:16,33.189709,-87.558449,Greensboro Ave,Tuscaloosa,AL,35401-6521,Night
3,A-561277,MapQuest,2,2020-06-30 22:32:13,36.250408,-86.699120,Howse Ave,Madison,TN,37115-4958,Night
4,A-561275,MapQuest,2,2020-06-30 22:20:47,34.753803,-86.741837,Highway 72 W,Madison,AL,35758-9558,Night
9,A-561267,MapQuest,2,2020-06-30 20:31:45,36.184750,-86.815666,24th Ave N,Nashville,TN,37208-1005,Day
10,A-561265,MapQuest,2,2020-06-30 20:24:30,36.071869,-86.636238,Bell Rd,Antioch,TN,37013-2001,Day
11,A-561264,MapQuest,2,2020-06-30 20:22:05,36.050800,-86.646919,Hickory Hollow Ter,Antioch,TN,37013-2646,Day
12,A-561482,MapQuest,2,2020-06-30 19:57:22,39.509411,-119.781822,Villanova Dr,Reno,NV,89502,Day
13,A-560849,MapQuest,2,2020-06-30 19:53:01,33.867962,-78.639458,Mini Market Rd,Little River,SC,29566-6426,Day

In [26]:
sv = final_df['Severity'].value_counts()
print(sv)

2    98120
3    13555
1    12167
4     5579
Name: Severity, dtype: int64

In [27]:
# 1 = 12167
# 2 = 98120
# 3 = 13555
# 4 = 5579

In [28]:
total_acc = len('Severity')
print(total_acc)

8

In [29]:
sev1 = 12167/129421
print(sev1)

0.0940110183046028

In [30]:
sev2 = 98120/129421
print(sev2)

0.7581458959519707

In [31]:
sev3 = 13555/129421
print(sev3)

0.10473570749723769

In [32]:
sev4 = 5579/129421
print(sev4)

0.04310737824618879

In [33]:
count = final_df.groupby(['Civil_Twilight']).mean()

In [34]:
print(count)

                Severity  Start_Lat  Start_Lng
Civil_Twilight
Day             2.083811  36.878092 -93.581104
Night           2.181152  37.009604 -99.372232

In [35]:
avg_count = count.mean()
print(avg_count)

Severity      2.132481
Start_Lat    36.943848
Start_Lng   -96.476668
dtype: float64

In [36]:
dsv1 = final_df.groupby(['Severity'])

In [37]:
final_df[0:100]

,ID,Source,Severity,Start_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
0,A-560480,MapQuest,3,2020-06-30 23:18:09,38.189991,-85.766731,Southern Pkwy,Louisville,KY,40214-1508,Night
1,A-561278,MapQuest,2,2020-06-30 22:38:08,36.131069,-86.775887,Prentice Ave,Nashville,TN,37204-2297,Night
2,A-561276,MapQuest,2,2020-06-30 22:33:16,33.189709,-87.558449,Greensboro Ave,Tuscaloosa,AL,35401-6521,Night
3,A-561277,MapQuest,2,2020-06-30 22:32:13,36.250408,-86.699120,Howse Ave,Madison,TN,37115-4958,Night
4,A-561275,MapQuest,2,2020-06-30 22:20:47,34.753803,-86.741837,Highway 72 W,Madison,AL,35758-9558,Night
...,...,...,...,...,...,...,...,...,...,...,...
95,A-560913,MapQuest,2,2020-06-30 17:38:58,33.470676,-82.021721,Central Ave,Augusta,GA,30904-6203,Day
96,A-560912,MapQuest,2,2020-06-30 17:38:43,33.470612,-82.020393,Johns Rd,Augusta,GA,30904-4410,Day
97,A-560911,MapQuest,2,2020-06-30 17:38:25,33.346107,-82.004440,Old Waynesboro Rd,Augusta,GA,30906-8126,Day
98,A-560409,MapQuest,2,2020-06-30 17:37:12,40.100830,-75.304451,W Ridge Pike,Conshohocken,PA,19428-1016,Day
99,A-560432,MapQuest,2,2020-06-30 17:36:20,40.347118,-79.529793,State Route 819,Greensburg,PA,15601,Day

In [38]:
final_df.to_csv('/Users/WillPumphrey/Desktop/Project 2/final_df.csv')