In [1]:
import pandas as pd

In [2]:
file = "last_6_months.csv"

In [3]:
df = pd.read_csv(file)

In [4]:
df.head()

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
0,0,A-560480,MapQuest,3,2020-06-30 23:18:09,2020-06-30 23:47:46,38.189991,-85.766731,Southern Pkwy,Louisville,KY,40214-1508,Night
1,1,A-561184,MapQuest,3,2020-06-30 22:56:52,2020-06-30 23:26:26,32.767036,-96.859627,Tom Landry Fwy,Dallas,TX,75212,Night
2,2,A-561279,MapQuest,2,2020-06-30 22:52:37,2020-06-30 23:22:24,36.096111,-86.737648,Allied Dr,Nashville,TN,37211,Night
3,3,A-561183,MapQuest,2,2020-06-30 22:52:02,2020-06-30 23:17:54,32.837406,-96.814911,Dallas North Tollway S,Dallas,TX,75205,Night
4,4,A-560284,MapQuest,3,2020-06-30 22:51:25,2020-06-30 23:20:50,41.813580,-71.404823,I-195 W,Providence,RI,02903,Night

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361469 entries, 0 to 361468
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      361469 non-null  int64
 1   ID              361469 non-null  object
 2   Source          361469 non-null  object
 3   Severity        361469 non-null  int64
 4   Start_Time      361469 non-null  object
 5   End_Time        361469 non-null  object
 6   Start_Lat       361469 non-null  float64
 7   Start_Lng       361469 non-null  float64
 8   Street          361469 non-null  object
 9   City            361443 non-null  object
 10  State           361469 non-null  object
 11  Zipcode         361350 non-null  object
 12  Civil_Twilight  361443 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 35.9+ MB

In [6]:
df['Start_Time'] = pd.to_datetime(df["Start_Time"],format='%Y-%m-%dT%H:%M:%S')
df['End_Time'] = pd.to_datetime(df['End_Time'], format='%Y-%m-%dT%H:%M:%S')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361469 entries, 0 to 361468
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      361469 non-null  int64
 1   ID              361469 non-null  object
 2   Source          361469 non-null  object
 3   Severity        361469 non-null  int64
 4   Start_Time      361469 non-null  datetime64[ns]
 5   End_Time        361469 non-null  datetime64[ns]
 6   Start_Lat       361469 non-null  float64
 7   Start_Lng       361469 non-null  float64
 8   Street          361469 non-null  object
 9   City            361443 non-null  object
 10  State           361469 non-null  object
 11  Zipcode         361350 non-null  object
 12  Civil_Twilight  361443 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(2), object(7)
memory usage: 35.9+ MB

In [8]:
df.to_csv('/Users/WillPumphrey/Desktop/Project 2/last_6_months2.csv')